<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.0/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="forum_assets/forum.css">
    <link rel="stylesheet" href="forum_assets/forum_mb.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="general_assets/mb_menu.css">
    <link rel="stylesheet" href="general_assets/popup.css">
    <link rel="stylesheet" href="general_assets/global.css">
</head>

<body>
    <!--can you keep this mobile menu out of vue ..??....if not put iska wala script in head..-->
    <div class="mb-menu-btn open-btn" onclick="open_mb_menu()"><img src="general_assets/open-menu.svg" alt=""></div>
    <div class="mb-menu-wrapper" onclick="close_mb_menu()">
        <div class="mb-menu-btn close-btn"><img src="general_assets/close.svg" alt=""></div>
        <div class="mb-menu">
            <a href='index.html' class="mb-menu-item">HOME</a>
            <a href="insta.html" class="mb-menu-item">INSTAGRAM</a>
            <a href="forum.html" class="mb-menu-item">FORUM</a>
            <a href="help_page.html" class="mb-menu-item">HELPLINE</a>
            <a href="team.html" class="mb-menu-item">ABOUT</a>
            <a href="events.html" class="mb-menu-item">EVENTS</a>
            <a href="#" onclick="open_popup()" class="mb-menu-item mb-join-btn">JOIN US</a>
        </div>
    </div>
    <script>
        function open_mb_menu() {
            $('.mb-menu-wrapper').css('width', '100vw');
            $('.mb-menu-wrapper').css('opacity', 1);
        }

        function close_mb_menu() {
            $('.mb-menu-wrapper').css('width', '0vw');
            $('.mb-menu-wrapper').css('opacity', 0);
        }
    </script>
    <!--mobile menu ends here-->
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<div id="forum-mid-end">
        <section class="landing-section">
            <div class="top-left-splash splash"><img src="forum_assets/ilst/splash_01.svg" style="width: 30vw;"></div>
            <div class="logo">
                <img src="forum_assets/ilst/Group 6.png">
            </div>
            <nav class="top-nav">
                <item onclick="window.location.href='index.html'">HOME</item>
                <item onclick="window.location.href='team.html'">ABOUT</item>
                <item onclick="window.location.href='help_page.html'">HELPLINE</item>
                <item onclick="window.location.href='insta.html'">INSTAGRAM</item>
                <item onclick="window.location.href='forum.html'">FORUM</item>
                <item onclick="window.location.href='events.html'">EVENTS</item>
                <item class='menu-btn' onclick="open_popup('#join-us-popup')">JOIN US</item>
            </nav>
            <div class="landing-heading">
                <span class='title-unbotle'>UNBOTTLE</span>
                <span class="title-forum">FORUM</span>
                <span class="title-talk-it">TALK IT</span>
                <span class="title-out">OUT</span>
            </div>
            <div class="landing-illustration">
                <img src="forum_assets/ilst/undraw_team_work_k80m.svg" style="height: 100%;
            padding-bottom: 5vh;
            width: 100%;
            object-fit: contain;">
            </div>

        </section>

        <section class="content-wrapper">
            <div class="content-section">
                <span class="about-forum">
                this is a placeholder for containing some details lining ot the purpose of this pae and how to use it , how oit will benifit the user, now i am running out of lines to write but i have to fill this placeholder to make it look good, stop me or i will start
            writin lorem ipsum sit idor amet, no one knows what this means anyway
            </span>
                <aside>
                    <span class="title-sm">TOPICS</span>
                    <span class='topic-item' v-on:click='forum_all'>all</span>
                    <span class='topic-item' v-for="ctg in ctg_array" v-on:click='forum_by_category(ctg.ctg_name)'>{{ctg.ctg_name}}</span>
                </aside>
                <main>
                    <div class="card-container">
                        <div class=card onclick="open_popup('#create-forum-popup')">
                            <div class="create-card-title">CREATE FORUM</div>
                            <div class="create-card-btn"><img src="general_assets/plus.svg" alt="" class="create-forum-btn-img">
                            </div>
                        </div>
                        <forumcard v-for="acard in forum_array" :scard="acard" :key="acard.ID" @read=searchstuff></forumcard>
                    </div>
                </main>
            </div>
        </section>
		
		
        <section class="footer">

        </section>

    <div class="univ-popup-wrap" id='create-forum-popup'>
        <div class="univ-popup-window">
            <img src="forum_assets/ilst/undraw_team_work_k80m.svg" alt="create a forum on mental health" class="popup-img">
            <div class="close-btn" v-on:click="close_button"><img src="general_assets/close-clr.svg" alt="" class="popup-btn-img"></div>
            <h3 class="popup-title">Create a Forum</h3>
            <p class="popup-desc">
                Once You submit this forum create request, kindly wait for some time for one of the moderators, to approve your this forum create request.<br> Team UNBOTTLE , are glad that you are creating a forum, <br> Thanks,
                <br> TEAM UNBOTTLE
			</p>
                <div class="popup-form" id="create-fprum">
                    <div class="input-wrap">
                        <span class="input-title">Name</span><input type="text" id="name" class="char-input" v-model="creator">
                    </div>
                    <div class="input-wrap">
                        <span class="input-title">Forum Title</span><input type="text" id="name" class="char-input" v-model="topic">
                    </div>
					<div class="input-wrap">
                        <span class="input-title">Category </span>
						<select class="char-input" v-model="ctg">
							<option v-for="el in ctg_array" :value="el.ctg_name">{{el.ctg_name}}</option>
						</select>
                    </div>
                    <div class="input-wrap">
						<span class="input-title">Image</span>
                        <input id="g01" class="fileinput" type="file" placeholder="Image" @change="chooseimage">
						<label class="filelabel" for="g01">Image</label><br>
                    </div>
                    <div class="button-wrap">
                        <button type="reset" class="form-btn" v-on:click="reset_data"><img src="general_assets/reload.svg" alt="" class="popup-btn-img"></button>
                        <button type="submit" class="form-btn" v-on:click="new_forum"><img src="general_assets/success.svg" alt="" class="popup-btn-img"></button>
                    </div>
                </div>
        </div>
    </div>
	
	<div class="univ-popup-wrap message-popup" v-if="notf_show">
        <div class="univ-popup-window">
            <div class="close-btn" v-on:click="notf_show=false"><img src="general_assets/close-clr.svg" alt="" class="popup-btn-img"></div>

            <p class='popup-message'></p>
            <img src="index_assets/what-ilst.svg" alt="what is mental health" class="popup-msg-img">
            <div class="popup-msg-content">
                <h4 class="popup-msg-title">Message</h4>
                <p class='popup-message'>
                    <br>{{pop_notification}}
                </p>
            </div>
        </div>
    </div>
	
</div>
	
	<div class="univ-popup-wrap message-popup" id="some-message">
        <div class="univ-popup-window">
            <div class="close-btn" v-on:click="close_message"><img src="general_assets/close-clr.svg" alt="" class="popup-btn-img"></div>

            <p class='popup-message'></p>
            <img src="index_assets/what-ilst.svg" alt="what is mental health" class="popup-msg-img">
            <div class="popup-msg-content">
                <h4 class="popup-msg-title">Message</h4>
                <p class='popup-message'>
                    <br>{{pop_notification}}
                </p>
            </div>
        </div>
    </div>
	
	
    <div class="univ-popup-wrap" id='join-us-popup'>
        <div class="univ-popup-window">
            <img src="general_assets/team.svg" alt="create a forum on mental health" class="popup-img">
            <div class="close-btn" onclick="close_popup('#join-us-popup')"><img src="general_assets/close-clr.svg" alt="" class="popup-btn-img"></div>
            <h3 class="popup-title">Join <br><span class='blue-title'>UNBOTTLE</span></h3>
            <p class="popup-desc">
                __PLACEHOLDER:01__
                <br> We are glad to have you on board with us.<br> Tell us the extant and your capacity with which you want to work for Unbottle, <br> and for how long you wish to be a part of Unbottle's efforts,. <br> Leave us any message for us</textxtarea>
                <br> TEAM UNBOTTLE
            </p>

            <form action="" method="post" class="popup-form" id="create-fprum">
                <div class="input-wrap">
                    <input type="text" id="name" class="char-input char-input-full" placeholder="Name">
                </div>
                <div class="input-wrap">
                    <input type="text" id="name" class="char-input" placeholder='age'>
                    <input type="text" id="name" class="char-input" placeholder="Profession">
                </div>
                <div class="input-wrap">
                    <input type="text" id="name" class="char-input" placeholder="Email ID">
                    <input type="text" id="name" class="char-input" placeholder="Contact No">
                </div>
                <div class="para-wrap">
                    <textarea name="message" id="" cols="30" rows="10" class='para-input'></textarea>
                </div>
                <div class="button-wrap">
                    <button type="reset" class="form-btn"><img src="general_assets/reload.svg" alt="" class="popup-btn-img"></button>
                    <button type="submit" class="form-btn"><img src="general_assets/success.svg" alt="" class="popup-btn-img"></button>
                </div>
            </form>
        </div>
	</div>
	
   

    <script>
        $(document).ready(function() {
            $('.univ-popup-wrap').fadeOut();
        });

        function open_popup(which_one) {
            $(which_one).fadeIn();
        }

        function close_popup(which_one) {
            $(which_one).fadeOut();
        }
    </script>


    <script src="forum_assets/forum.js" async defer></script>

    <script src="forum_assets/forum_mid.js"></script>


</body>

</html>
