<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>||UnBottle||</title>
    <link rel="icon" href="general_assets/logo.png">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="index_assets/index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.0/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="general_assets/mb_menu.css">
    <link rel="stylesheet" href="general_assets/popup.css">
    <link rel="stylesheet" href="general_assets/global.css">

</head>

<body>
    <!--can you keep this mobile menu out of vue ..??....if not put iska wala script in head..-->
    <div class="mb-menu-btn open-btn" onclick="open_mb_menu()"><img src="general_assets/open-menu.svg" alt=""></div>
    <div class="mb-menu-wrapper" onclick="close_mb_menu()">
        <div class="mb-menu-btn close-btn"><img src="general_assets/close.svg" alt=""></div>
        <div class="mb-menu">
            <a href='index.html' class="mb-menu-item">HOME</a>
            <a href="insta.html" class="mb-menu-item">INSTAGRAM</a>
            <a href="forum.html" class="mb-menu-item">FORUM</a>
            <a href="help_page.html" class="mb-menu-item">HELPLINE</a>
            <a href="team.html" class="mb-menu-item">ABOUT</a>
            <a href="events.html" class="mb-menu-item">EVENTS</a>
            <a href="#" onclick="open_popup()" class="mb-menu-item mb-join-btn">JOIN US</a>
        </div>
    </div>
    <script>
        function open_mb_menu() {
            $('.mb-menu-wrapper').css('width', '100vw');
            $('.mb-menu-wrapper').css('opacity', 1);
        }

        function close_mb_menu() {
            $('.mb-menu-wrapper').css('width', '0vw');
            $('.mb-menu-wrapper').css('opacity', 0);
        }
    </script>
    <!--mobile menu ends here-->

    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
    <section class="landing-section">
        <img class='top-splash' src="index_assets/splash_top-left.svg">
        <div class="logo">
            <img src='index_assets/logo.png' class='top-logo'>
        </div>
        <div class='landing-title'>
            <div class='main-title'>
                <span style="color:var(--light-blue-a)">UN</span><span style='color:black'>BOTTLE</span>
            </div>
            <div class='subtitle'>This will be subtext for the unbottle project, right now ithis is just a filler text</div>
        </div>
        <nav class='top-nav'>
            <item onclick="window.location.href='index.html'">HOME</item>
            <item onclick="window.location.href='team.html'">ABOUT</item>
            <item onclick="window.location.href='help_page.html'">HELPLINE</item>
            <item onclick="window.location.href='insta.html'">INSTAGRAM</item>
            <item onclick="window.location.href='forum.html'">FORUM</item>
            <item onclick="window.location.href='events.html'">EVENTS</item>
            <item class='menu-btn' onclick="open_popup('#join-us-popup')">JOIN US</item>
        </nav>
        <div class="focal-btn">MORE</div>
        <img src='index_assets/index_ilst.svg' class="main-ilst">
    </section>
    <section class='what-is'>
        <div class="what-wrapper">
            <div class="what-illst">
                <img src='index_assets/what-ilst.svg' class='what-ilst-img'>
            </div>
            <div class='what-content'>
                <span class="what-title">What is mental Health.?</span>
                <span class='what-content'>
                    Mental health includes our emotional, psychological, and social well-being. It affects how we think, feel, and act. It also helps determine how we handle stress, relate to others, and make choices..</span>
                <span class='more-btn' onclick="open_popup('#more-on-mental-health')">Read More</span>
            </div>
        </div>
    </section>
    <section class="facts-section">
        <div class="facts-wrapper">
            <div class="facts-main-title"><span class='facts-facts'>FACTS</span>About Mental Health</div>
            <div class='facts-card'>
                <div class="facts-ilst"><img src='index_assets/sketch/01.png' class='facts-ilst-img'></div>
                <div class="facts-detail facts-detail-right">
                    <div class="facts-title">0<span class='absurd-large-digit'>1</span> Fact</div>
                    <div class="facts-content">in four people in the world will be affected by mental or neurological disorders at some point in their lives. Around 450 million people currently suffer from such conditions.</div>
                </div>
            </div>
            <div class='facts-card'>

                <div class="facts-detail facts-detail-left">
                    <div class="facts-title">0<span class='absurd-large-digit'>2</span> Fact</div>
                    <div class="facts-content">Two-thirds of people with a known mental disorder never seek help from a health professional.
                    </div>
                </div>
                <div class="facts-ilst"><img src='index_assets/sketch/02.png' class='facts-ilst-img'></div>
            </div>
            <div class='facts-card'>
                <div class="facts-ilst"><img src='index_assets/sketch/03.png' class='facts-ilst-img'></div>
                <div class="facts-detail facts-detail-right">
                    <div class="facts-title">0<span class='absurd-large-digit'>3</span> Fact</div>
                    <div class="facts-content">Currently, more than 40% of countries have no mental health policy and over 30% have no mental health programme. Around 25% of countries have no mental health legislation.
                    </div>
                </div>

            </div>
            <div class='facts-card'>

                <div class="facts-detail facts-detail-left">
                    <div class="facts-title">0<span class='absurd-large-digit'>4</span> Fact</div>
                    <div class="facts-content">More than 33% of countries allocate less than 1% of their total health budgets to mental health, with another 33% spending just 1% of their budgets on mental health.
                    </div>
                </div>
                <div class="facts-ilst"><img src='index_assets/sketch/04.png' class='facts-ilst-img'></div>
            </div>
            <div class='facts-card'>
                <div class="facts-ilst"><img src='index_assets/sketch/05.png' class='facts-ilst-img'></div>
                <div class="facts-detail facts-detail-right">
                    <div class="facts-title">0<span class='absurd-large-digit'>5</span> Fact</div>
                    <div class="facts-content">7.5 per cent of the Indian population suffers from some form of mental disorder. Mental illnesses constitute one-sixth of all health-related disorders and India accounted for nearly 15% of the global mental, neurological and substance
                        abuse disorder burden.
                    </div>
                </div>

            </div>
            <div class='facts-card'>

                <div class="facts-detail facts-detail-left">
                    <div class="facts-title">0<span class='absurd-large-digit'>6</span> Fact</div>
                    <div class="facts-content">In India, WHO estimates that the burden of mental health problems is of the tune of 2,443 DALYs per 100,000 population , and the age-adjusted suicide rate per 100,000 population is 21.1. It is estimated that, in India, the economic
                        loss, due to mental health conditions, between 2012-2030, is 1.03 trillions of 2010 dollars.
                    </div>
                </div>
                <div class="facts-ilst"><img src='index_assets/sketch/06.png' class='facts-ilst-img'></div>
            </div>

        </div>
    </section>
    <section class="adv-section">
        <div class='adv-wrapper'>
            <div class="adv-title">
                <span class='adv-contact'>CONTACT</span>
                <span class="adv-cons">COUNSELLOR</span>
            </div>
            <div class="adv-contents">
                <div class="adv-card-wrapper">
                    <div class='adv-card-container'>
                        <!--these cards to be filled by mid-end-->
                        <!--this shold open a popup , containing the details of the counsellor and the form to contact them (this api call should be ade only when clicked), i have to implemet it using google api...yet to figre out -->
                        <div class='adv-card' style="background-image: url('index_assets/adv/1.jpg');" onclick="open_adv(id)">
                            <div class='adv-card-detail'>Dr. Abhijeet Bhatt<br>AIIMS Delhi</div>
                        </div>
                        <div class='adv-card' style="background-image: url('index_assets/adv/2.jpg');" onclick="open_adv(id)">
                            <div class='adv-card-detail'>Dr. Abhijeet Bhatt<br>AIIMS Delhi</div>
                        </div>
                        <div class='adv-card' style="background-image: url('index_assets/adv/3.jpg');" onclick="open_adv(id)">
                            <div class='adv-card-detail'>Dr. Abhijeet Bhatt<br>AIIMS Delhi</div>
                        </div>
                        <div class='adv-card' style="background-image: url('index_assets/adv/4.jpg');" onclick="open_adv(id)">
                            <div class='adv-card-detail'>Dr. Abhijeet Bhatt<br>AIIMS Delhi</div>
                        </div>
                        <div class='adv-card' style="background-image: url('index_assets/adv/2.jpg');" onclick="open_adv(id)">
                            <div class='adv-card-detail'>Dr. Abhijeet Bhatt<br>AIIMS Delhi</div>
                        </div>
                        <div class='adv-card' style="background-image: url('index_assets/adv/3.jpg');" onclick="open_adv(id)">
                            <div class='adv-card-detail'>Dr. Abhijeet Bhatt<br>AIIMS Delhi</div>
                        </div>
                        <div class='adv-card' style="background-image: url('index_assets/adv/4.jpg');" onclick="open_adv(id)">
                            <div class='adv-card-detail'>Dr. Abhijeet Bhatt<br>AIIMS Delhi</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class='forum-section'>
        <div class="forum-wrapper">

            <div class="forum-title"><span>Your Space to </span><br><span class='forum-talk'>TALK</span></div>
            <div class="forum-text">This placeholder i have left for filling ot something, which i am doing right now, maybe some content to show the visitor why they should visit the forum section, maybe a glimpse of forum section or something like that, ow i am jt typing out
                stuff, randomli to filledhthis placeholderI should stop now, okay, but i am kind oof enjoying this typing speed test..next time..
            </div>
            <div class='open-forum-btn'><a href='forum.html'>
                Open Forum
            </a></div>

        </div>
    </section>
    <section class='footer-section'>
        <span class='footer-credits'>some footer contents<br>Maybe contacts, of copyright things, <br>maybe site designed and developed by thing..</span>
    </section>
    <script src="index_assets/main.js" async defer></script>

    <div class="univ-popup-wrap message-popup" id="more-on-mental-health">
        <div class="univ-popup-window">
            <div>
                <div class="close-btn" onclick="close_popup('#more-on-mental-health')"><img src="general_assets/close-clr.svg" alt="" class="popup-btn-img"></div>
                <img src="index_assets/what-ilst.svg" alt="what is mental health" class="popup-msg-img"></div>
            <div class="popup-msg-content">
                <h4 class="popup-msg-title">What is Mental Health</h4>
                <p class='popup-message'>
                    Mental health includes our emotional, psychological, and social well-being. It affects how we think, feel, and act. It also helps determine how we handle stress, relate to others, and make choices<br><br> Mental health can affect daily
                    living, relationships, and physical health. However, this link also works in the other direction. Factors in people’s lives, interpersonal connections, and physical factors can all contribute to mental health disruptions.<br><br> 3.
                    Looking after mental health can preserve a person’s ability to enjoy life. Doing this involves reaching a balance between life activities, responsibilities, and efforts to achieve psychological resilience.<br><br>

                </p>
                <h4 class="popup-msg-title">Importance of mental health</h4>
                <p class='popup-message'>
                    Like physical health, mental health is important at every stage of life. Emotional and mental health is important because it’s a vital part of your life and impacts your thoughts, behaviors and emotions. Being healthy emotionally can not only promote
                    productivity and effectiveness in activities like work, school or caregiving. It also plays an important part in the health of our relationships, and allows us to adapt to changes in out life and cope with adversity. When we are mentally
                    healthy, we enjoy our life and environment, and the people in it.<br><br> It helps us to deal with all sorts of problems including those coming from chronic physical illnesses.A healthy mind helps us to manage stress
                    and the sadness and anger that can come with various emotional factors in our lives, we are able to move on and enjoy our lives once again.
                </p>
            </div>
        </div>
    </div>

    <div id="join-us-mid-end">

        <div class="univ-popup-wrap message-popup" id="some-message">
            <div class="univ-popup-window">
                <div class="close-btn" v-on:click="close_message"><img src="general_assets/close-clr.svg" alt="" class="popup-btn-img"></div>

                <p class='popup-message'></p>
                <img src="index_assets/what-ilst.svg" alt="what is mental health" class="popup-msg-img">
                <div class="popup-msg-content">
                    <h4 class="popup-msg-title">Message</h4>
                    <p class='popup-message'>
                        <br>{{pop_notification}}
                    </p>
                </div>
            </div>
        </div>

        <div class="univ-popup-wrap" id='join-us-popup'>
            <div class="univ-popup-window">
                <img src="general_assets/team.svg" alt="create a forum on mental health" class="popup-img">
                <div class="close-btn" v-on:click="close_popup"><img src="general_assets/close-clr.svg" alt="" class="popup-btn-img"></div>
                <h3 class="popup-title">Join <br><span class='blue-title'>UNBOTTLE</span></h3>
                <p class="popup-desc">
                    __PLACEHOLDER:01__
                    <br> We are glad to have you on board with us.<br> Tell us the extant and your capacity with which you want to work for Unbottle, <br> and for how long you wish to be a part of Unbottle's efforts,. <br> Leave us any message for us</textxtarea>
                    <br> TEAM UNBOTTLE
                </p>

                <div class="popup-form" id="create-fprum">
                    <div class="input-wrap">
                        <input type="text" id="name" class="char-input char-input-full" placeholder="Name" v-model="name">
                    </div>
                    <div class="input-wrap">
                        <input type="text" id="name" class="char-input" placeholder='age' v-model="age">
                        <input type="text" id="name" class="char-input" placeholder="Contact No" v-model="contact_no">
                    </div>
                    <div class="input-wrap">
                        <input type="text" id="name" class="char-input char-input-full" placeholder="Profession/Organisation" v-model="profession">
                    </div>
                    <div class="input-wrap">
                        <input type="text" id="name" class="char-input char-input-full" placeholder="Email ID" v-model="email_id">
                    </div>
                    <div class="para-wrap">
                        <label class="popup-label">How long would you like to work for unbottle?</label>
                        <textarea name="message" id="" cols="30" rows="10" class='para-input' v-model="how_long"></textarea>
                    </div>
                    <div class="para-wrap">
                        <label class="popup-label">In what capacity would you like to work with unbottle?</label>
                        <textarea name="message" id="" cols="30" rows="10" class='para-input' v-model="work_capacity"></textarea>
                    </div>
                    <div class="para-wrap">
                        <label class="popup-label">Other comments</label>
                        <textarea name="message" id="" cols="30" rows="10" class='para-input' v-model="other_comments"></textarea>
                    </div>
                    <div class="button-wrap">
                        <button class="form-btn" v-on:click="reset_button"><img src="general_assets/reload.svg" alt="" class="popup-btn-img"></button>
                        <button class="form-btn" v-on:click="post_query"><img src="general_assets/success.svg" alt="" class="popup-btn-img"></button>
                    </div>

                </div>
            </div>
        </div>


    </div>


    <script src="general_assets/join.js"></script>
    <script>
        $(document).ready(function() {
            $('.univ-popup-wrap').fadeOut();
        });

        function open_popup(which_one) {
            $(which_one).fadeIn();
        }

        function close_popup(which_one) {
            $(which_one).fadeOut();
        }
    </script>
</body>

</html>