@media only screen and (max-width: 600px) {
    .landing-section{
        
    grid-template-areas: "logo menu" "illust illust" "title title";
    }
    .logo img{/*! width: 104%; */}
    .landing-illustration{
        
    }
    .landing-heading{
        
    align-self: safe;
    /*! width: min-content; */
    align-self: auto;
    padding-left: 15%;
    }
    .top-nav{
        
    margin: 0vh;
    display: none !important;
    }
    .menu-item{
        
    display: none !important;
    }
    .menu-item-btn{display: block;}
    .content-wrapper{
        
    }
    .content-section{
        
    width: 100%;
    grid-template-areas: "about" "topics" "content";
    grid-template-columns: unset;
    }
    .about-forum{
        
    /*! padding-left: 4vh; */
    width: 83%;
    justify-self: center;
    text-align: left;
    padding-top: 5vh;
    padding-bottom: 5vh;
    }
    aside{
        
    /*! justify-content: center; */
    align-items: flex-start;
    flex-direction: row;
    width: 100vw;
    flex-wrap: wrap;
    /*! border-radius: 4vw; */
    justify-content: space-between;
    }
    .topic-item{/*! display: none; */flex-shrink: 0;width: unset;padding: 3vw;background: var(--blue-white);border-radius: 5vw;margin: 2vw;font-size: 3vw;}
    .title-sm{
        
    text-align: left;
    width: 100%;
    display: block;
    flex-shrink: 0;
    justify-content: inherit;
    }
    .card{
        
    flex-direction: column;
    align-items: center;
    }
    .card-image{
        
    width: 75%;
    align-content: ;
    }
    .card-content{
        
    width: 90%;
    }
    .logo{
        
    padding: 1vh;
    margin-top: 4vw;
    height: 1vw;
    }
}