/*
font-family: 'Poppins', sans-serif;
*/

 :root {
    --main-bg-color: coral;
    --light-blue-a: #1C9ECA;
    --light-blue-b: #007299;
    --dark-blue: #3F3D56;
    --pink-a: #FF6584;
    --pink-b: ;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

a {
    color: unset;text-decoration: none;
}
.top-splash{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 18vw;
    object-fit: cover;
    z-index: -1;
}
.landing-section{
    
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: 
        ". . menu"
        ". logo ."
        ". title ilst"
        ". more ilst"
        ;
    grid-template-rows: 10vh 30vh 40vh auto;
    grid-template-columns: 1.5fr 3fr 6fr;
    background: url('index_ilst.svg');
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 95%;
}
.logo{
    
    grid-area: logo;
    align-self: ;
    width: 10vh;
}
.main-title{
    
    font-size: 7vh;
    font-weight: 800;
    /*! width: 6%; */
}
.landing-title{
    grid-area: title;
    align-self: first baseline;
    /*! justify-self: ; */
    display: flex;
    flex-direction: column;
}
.menu-btn{
    
    padding: 2vh;
    background: #A4FFFF;
    border-radius: 2vh;
}
.subtitle{
    
    font-weight: 300;
    display: inline-block;
    width: 50%;
}
.top-logo{
    
    width: 10vh;
    object-fit: contain;
}
.top-nav{
    
    grid-area: menu;
    align-self: end;
    justify-self: end;
    margin-right: 3vw;
    display: flex;
    justify-content: space-around;
    width: 60%;
    align-items: center;
}
nav{
    
}
item{
    
    font-weight: 300;
}
.focal-btn{
    
    grid-area: more;
    border-radius: 2vh;
    padding: 2vh;
    background: var(--light-blue-a);
    display: inline;
    width: max-content;
    height: max-content;
    color: white;
    font-size: 2vh;
    font-weight: bold;
    box-shadow: 3px 3px 13px 1px #0009;
}
.main-ilst{
    
    grid-area: ilst;
    width: 100%;
    display: none;
}
.what-is{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30vh;
    padding-bottom: 25vh;
    background-image: url('splash-top.svg');
    background-size: 103%;
    background-position-x: 76%;
    background-repeat: no-repeat;
    margin-bottom: 0vh;
}
.what-content{
    
    display: flex;
    flex-direction: column;
    font-weight: 300;
    justify-content: space-around;
    height: 100%;
    margin-top: 1vh;
    margin-bottom: 4vh;
}
.what-illst{
    
}
.what-ilst-img{
    
}
.what-title{
    
    font-weight: bold;
    font-size: 3vh;
}
.what-wrapper{
    
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.more-btn{
    
    width: max-content;
    height: max-content;
    padding: 1vh;
    background: var(--light-blue-b);
    color: white;
    font-size: 1.5vh;
    border-radius: 1vh;
}
.facts-card{
    
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10vh;
}
.facts-content{
    
    font-weight: 300;
    font-size: 2vh;
}
.facts-detail{
    
    width: 50%;
    display: flex;
    flex-direction: column;
    /*! align-items: baseline; */
    justify-content: center;
    text-align: justify;
}
.facts-ilst{
    
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.facts-section{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.facts-title{
    
    font-size: 4vh;
    font-weight: 300;
    color: var(--pink-a);
}
.facts-wrapper{
    
    width: 60%;
    display: flex;
    flex-direction: column;
    /*! align-items: center; */
}
.facts-ilst-img{
    
    width: 70%;
}
.absurd-large-digit{
    
    font-size: 13vh;
    font-weight: 100;
    color: var(--light-blue-a);
}
.facts-detail-left{
    
    align-items: end;
}
.facts-detail-right{
    
    align-items: start;
}
.adv-section{
    
    width: 100%;
    background: var(--light-blue-a);
    height: 50vh;
}
.adv-wrapper{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    /*! overflow-x: scroll; */
}
.adv-card-wrapper{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    overflow-x: scroll;
}
.adv-card{
    
    height: 90%;
    width: 30vh;
    display: flex;
    justify-content: center;
    align-items: end;
    background-size: cover;
    /*! border-radius: 3vh; */
    cursor: pointer;
    margin: 3vh;
    transition: 0.2s linear;
}
.adv-card-container{
    
    height: 100%;
    display: flex;
    align-items: center;
    /*! justify-content: center; */
}
.adv-card-detail{
    
    width: 100%;
    background: linear-gradient(0deg,black,transparent);
    height: 50%;
    display: flex;
    align-items: end;
    justify-content: center;
    color: white;
    text-align: justify;
    padding-bottom: 1vh;
    font-size: 1.4vh;
    text-align: center;
}
.adv-card-img{
    
    height: 100%;
}
.adv-card-img{
    
}
.adv-cons{
    
}
.adv-cons{
    
    font-weight: bold;
    color: black;
    font-size: 5vh;
}
.adv-contact{
    
    font-size: 7vh;
    color: white;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
.adv-title{
    
    width: 30%;
    /*! height: 100%; */
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    /*! font-size: 5vh; */
    box-shadow: 9px 2px 26px 0px #0000003d;
    z-index: 1;
}
.adv-card-img img{
    
    height: 100%;
}
.adv-contents{
    
    width: 70%;
    height: 100%;
    background: var(--light-blue-b);
    overflow-x: hidden;
}
.adv-card:hover{
    height: 100%;width: 32vh;
}
.forum-contents{
    
}
.forum-illst{
    
    display: none;
}
.forum-list-img{
    
}
.forum-section{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
    background-image: url(forum_ilst_05.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: contain;
    background-position-x: 100%;
    margin-bottom: 10vh;
}
.forum-text{
    
    grid-area: para;
    align-self: center;
    justify-self: center;
    font-size: 1.7vh;
    font-weight: 300;
}
.forum-title{
    
    grid-area: title;
    align-self: center;
    justify-self: center;
    font-size: 5vh;
    /*! color: ; */
    font-weight: bold;
    text-align: center;
}
.forum-wrapper{
    
    width: 80%;
    display: grid;
    height: 90vh;
    /*! background-image: ; */
    /*! background-size: contain; */
    grid-template-areas: 
        "title ."
        "para ."
        "btn ."
        ". ."
        ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 2fr;
}
.open-forum-btn{
    
    grid-area: btn;
    align-self: baseline;
    justify-self: center;
    padding: 2vh;
    background: var(--pink-a);
    color: white;
    border-radius: 3vh;
    font-size: 2vh;
    cursor: pointer;
}
.forum-talk{
    
    font-size: 8vh !important;
    color: var(--light-blue-b);
}
.footer-credits{
    
    text-align: center;
    font-size: 1vh;
}
.footer-section{
    
    height: 20vh;
    background: url(footer.svg);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 15vh;
}
.facts-main-title{
    
    width: 100%;
    text-align: center;
    font-size: 5vh;
    margin: 8vh;
    font-weight: bold;
    color: var(--pink-a);
}
.facts-facts{
    
    color: var(--light-blue-a);
    font-size: 6vh;
}