@font-face {
	font-family: "ppeb";
	src: url("fonts/Poppins-ExtraBold.ttf");
}

@font-face {
	font-family: "ppl";
	src: url("fonts/Poppins-Light.ttf");
}

@font-face {
	font-family: "ppr";
	src: url("fonts/Poppins-Regular.ttf");
}








.landing-section{width: 100vw;height: 100vh;display: grid;grid-template-areas: "logo title ilst";grid-template-rows: 1fr;grid-template-columns: 1fr 1.7fr 5fr;}
.landing-ilst{grid-area: ilst;height: 70%;align-self: flex-end;justify-self: flex-end;}
.logo{align-self: center;justify-self: end;height: 16vh;grid-area: logo;margin: 2vh;}
.blue{color: #ff6584;font-size: 9vh;}
.black{color: black;}




.wrap-it-up {
   width:101%;
   margin-left:-1vw;
   margin-top:-1.2vh;
   position:absolute;
   overflow:hidden;
}

.about-us-section {	
  display: grid;
    width: 100vw;
    height: 90vh;
    grid-template-areas: 
        ". . menu"
        ". logo ."
        ". title ilst"
        ". more ilst"
        ;
    grid-template-rows: 10vh 30vh 40vh auto;
    grid-template-columns: 0.5fr 3fr 7fr;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 95%;
}

.about-us-desc-section {	
    width:100vw;
	/*! margin-left:15vw; */
	/*! margin-top:10vh; */

    /*! text-align: center; */
    /*! padding-left: 20vw; */
    /*! padding-right: 20vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.team-section {	
  width:100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*! position: ; */
}

.background-vec {
  background:url('images/vec23.png');	
  width:98vw;
  background-repeat:no-repeat;
  height:100vh;
  position:absolute;
  margin:0;
  z-index:-100;
  transform:translate(-1vw,-2vh);
}

.background-vec-2 {
  width:100vw;
  background-repeat:no-repeat;
  position:absolute;
  margin:0;
  z-index:-400;
  transform:translate(0vw,-100vh);
}

.vec-resize {
  width:100vw;	
}

.image-vec {
  background:url('images/grouppic.png');	
  width:100vw;
  background-repeat:no-repeat;
  height:90vh;
  position:absolute;
  margin:0;
  z-index:-200;
}

.top-nav{
    
    grid-area: menu;
    align-self: end;
    justify-self: end;
    margin-right: 3vw;
    display: flex;
    justify-content: space-around;
    width: 60%;
	font-family:'ppr';
    align-items: center;
    background: white !important;
}
nav{
    
}
item{
    
    font-weight: 300;
}

p {
  font-family:'ppl';
}

h1 {
	font-family:'ppr';
	color:#1C9ECA;
}

.menu-btn{
    
    padding: 2vh;
    background: #FF6584;
    border-radius: 2vh;
    color: white;
    font-weight: bold;
}

.team-head {
	grid-area:title;
	font-size:6vh;
	font-family:'ppeb';
	align-self:center;
	justify-self: start;
	display: flex;
	flex-direction: column;
	/*! justify-content: flex-end; */
	text-align: left;
	/*! align-self: ; */
	line-height: 1;
	transform: translateY(2vh);
	padding-left: 3vh;
}

.content-wrap {
	width:75vw;
}

.team-head-2 {
	font-size:10vh;
	text-align:center;
	font-family:'ppeb';
	color:var(--light-blue-b);
	/*! transform:translate(0,20vh); */
}

.sub-head {
	font-size:4vh;
	font-family:'ppr';
}

.team-card-wrapper {
	margin-top:30vh;
	margin-bottom:30vh;
	/*! margin-left:10vw; */
	width: 73%;
}

.team-card-tag {
	background-color:#FFB9B9;
	text-align:center;
	padding:1vh 3vh;
	font-family:'ppr';
	display:inline-block;
	border-radius:25px;
}

.team-card {
  	width:70vw;
	align-items:center;
	display:flex;
	margin-top:5vh;
}

.team-card-img {
   border-radius:50%;
   height:17vw;
   margin:3vh;
   width:17vw;   
}
.trial-card:hover .trial-card-wrap{}
.trial-card:hover .trial-card-skew{transform: rotate(0);background: var(--light-blue-a);}
.trial-card:hover .trial-card-img{mix-blend-mode: luminosity;}
.trial-card:hover .trial-overlay-dark{opacity: 1;}
.trial-card:hover .trial-card-details{}
.trial-card:hover .trial-overlay{opacity: 1;}


.trial-card-detail{}
.trial-overlay-dark{position: absolute;width: 100%;height: 100%;background: #0000006b;/*! mix-blend-mode: hue; */opacity: 0;transition: 0.4s ease-out;z-index: 4;}
.trial-card-img{width: 100%;height: 100%;position: absolute;background-size: cover;filter: hue-rotate(1px);/*! mix-blend-mode: luminosity; */transition: 0.4s ease-out;z-index: 2;}
.trial{width: 100vw;display: flex;align-items: flex-start;justify-content: center;/*! padding-bottom: 10vh; *//*! height: 100vh; */background-image: url('bkg.jpg');background-size: cover;padding-top: 10vh;padding-bottom: 10vh;}
.trial-card-details{display: flex;flex-direction: column;text-align: center;border-top: 1px solid #ffffff52;font-weight: 100;}
.trial-card{/*! position: absolute; */flex-shrink: 0;cursor: pointer;}
.trial-card-skew{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: var(--light-blue-b);transform: rotate(10deg);transition: 0.4s ease-out;z-index: 1;/*! mix-blend-mode: multiply; */opacity: 1;}
.trial-card-wrap{width: 36vh;height: 40vh;background: black;/*! position: absolute; */flex-shrink: 0;margin-bottom: 10vh;/*! top: ; */position: relative;}
.trial-overlay{position: absolute;display: flex;width: 100%;height: 100%;/*! background: black; */align-items: center;justify-content: center;color: white;flex-direction: column;/*! filter: revert; */opacity: 0;/*! mix-blend-mode: revert; */filter: hue-rotate(4);transition: 0.6s ease-out;z-index: 5;}
.trial-wrap{width: 80%;display: flex;align-items: center;justify-content: space-evenly;background: none;/*! position: absolute; */background: #fffbfbcc;padding-top: 10vh;border-radius: 8vh;}

.overlay-quote{text-align: center;}
.about-para{width: 60%;display: block;}
.about-us-desc-sectionP{}

.footer-wrapper{
  
  height: 20vh;
  background: url(splash-footer.svg);
  width: 100%;
  height: 28vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
  font-size: 1.5vh;
  font-weight: 300;
  padding-bottom: 4vh;
  filter: drop-shadow(1px 1px 19px #00000091);
}











@media only screen and (max-width: 600px) {
  .team-head-2{font-size: 6vh;}
  .about-para{width: 80%;}
  .about-us-desc-section{}
  .landing-section{
    
  grid-template-areas: "logo" "ilst""title";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  }
  .landing-ilst{
    
  height: unset;
  width: 100%;
  }
  .logo{justify-self: flex-start;margin-left: 3vh;}
  .about-us-desc-section{margin-left: 0;/*! padding: 10vw; */padding-top: 0;padding-top: ;}
  .about-para{}
  .trial-wrap{width: 100%;flex-direction: column;}
}
