@media only screen and (max-width: 600px) {
    .top-nav{
        
    width: 100% !important;
    /*! right: -1vh !important; */
    height: 9vh !important;
    background: none !important;
    color: black !important;
    left: 0vh !important;
    }
    .title-about{
        
    }
    nav{
        
    /*! position: fixed !important; */
    top: 0 !important;
    }
    nav item{
        
    color: black;
    }
    .bkg-wrapper{
        
    /*! background-size: contain; */
    background-size: 80%;
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: 97%;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1.3fr 2fr 4fr 3fr;
    }
    .landing{
        
    background: white;
    }
    .bkg-grad{
        
    display: none;
    }
    .h-title{
        
    font-size: 6vh;
    }
    .menu-btn{
        
    background: #D94B25;
    color: white;
    border-radius: 2vh;
    padding: 2vh;
    height: unset;
    }
    .h-about{
        
    height: 10vh;
    }
    .main-content{
        
    /*! width: 77%; */
    }
}